body {
	font-family: 'Roboto', Helvetica, sans-serif;
	background-image: url("bg.png");
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h3 {
	font-size: 60px;
	color: #000;
}
.gradient {
	font-size: 60px;
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

.test {
	position: relative;
}

.test::before {
	content: "";
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0;
	height: 6px;
	border-radius: 2px;
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
